* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.slider {
    background-color: black;
    width: 20%;
    height: 20px;
    position: relative;
    margin: 10vw auto;

}

.slide {
    position: absolute;
    max-width: 100px;
    border: 1px solid red;
    width: 100%;
    color: white;
    
}

.slide-wrapper {
    position:relative;
    margin: 0 auto;
    width: 300px;
    

}

.slider2 {
    position: absolute;
    display: flex;
    height: 50px;
    width: 500px;
    border: 1px solid black;
}

.slide-container {

}

.slide2 {
    position: absolute;
    max-width: 90px;
    width: 100%;
    border: 1px solid red;

}