*{
    box-sizing: border-box;
}


.container {
    position: relative;
    border: 5px solid black;
    width: 400px;
    height: 50px;
    margin: 5rem auto;  
    margin-top: 0rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.slider-container {
    position: absolute;
    display: flex;
    width: 3000px;
    height: 100%;
}

.slide {
    display: flex;
    width: 100%;
    flex-grow: 0;
    height: 100%;
    align-items: center;
}


.alpha {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.alpha:hover {
    background-color: gray;
}

.input-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-wrapper > h1 {
    color: red;
    font-size: 3rem;
}


.input {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-name, .input-password, .confirm-password {
    pointer-events: none;
    width: 100%;
}

.input-name:focus, .input-password:focus, .confirm-password:focus {
    background-color: yellow;
}

.letter-change-btns {
    width: 10rem;
    display: flex;
    margin: 0 auto;
}

.moving-container-header {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 0rem;
    width: 20rem;
    display: flex;
    justify-content: center;
}



/* ---Password confirmation modal--- */
.modal {
    width: 30%;
    height: 50%;
    z-index: 10;
    background-color: gray;
    position: fixed;
    margin: 0 auto;
    display : none;
    top: 5rem;
    left: 50%;
    transform: translate(-50%,0);
    padding: 5px;
}

.close {
    float: right;
    font-size: 2rem;
}

.modal-content-confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.number-block {
    display: grid;
    color: white;
    grid-template-columns: repeat(3, 1fr);
    width: 10rem;
    background-color: black;
    margin: 0 auto;
    cursor: pointer;
}

.number:active {
    background-color: gray;
}

.sign-box {
    margin: 0 auto;
    width: 10rem;
    display: flex;

}

.wrapper {
    border: 1px solid black;
    width: 50vw;
    height: 80vh;
    margin: 0 auto;
}

.sign-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;
}

.sign {
    padding: 1rem;
    background-color: lightgray;
    color: white;
}

.sign:hover {
    font-size: 5rem;
}

.select-btns {
    margin: 0 auto;
    margin-top: 1rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}